<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>List of all installed sensors</h1>
    {% for sensor in sensor_objects %}
    <h2>{{ sensor.id_tag }}</h2>
    <ul>
        <li>Sensor city: {{ sensor.city }}</li>
        <li>Sensor area: {{ sensor.area }}</li>
        <li>Sensor placement: {{ sensor.placement }}</li>
        <li>Sensor X coordinate: {{ sensor.x_cord }}</li>
        <li>Sensor Y coordinate: {{ sensor.y_cord }}</li>
        <li>Meter above sea lever: {{ sensor.masl }}</li>
        <li>Reference system: {{ sensor.ref_system }}</li>
    </ul>
    {% endfor %}
</body>
</html>