<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FlowBelow AB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'main.css' %}" rel="stylesheet"/>
    <!--- leaflet --->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <!--- Function to create a map edvin --->
    {% load static %}
    <script src="{% static 'Mapmaking.js' %}"></script>
    <!--- p5 --->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js" type="text/javascript"></script>
    <!--- för att göra grafen --->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <!--- en oklar --->
    <script src="https://unpkg.com/mappa-mundi@0.0.5/dist/mappa.js" type="text/javascript"></script>
    <!--- Loads proj4leaflet to use SWEREF99 --->
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    {% load static %}
    <script src="{% static 'proj4.js' %}"></script>
    {% load static %}
    <script src="{% static 'proj4leaflet.js' %}"></script>

</head>

<body>
<!---FlowBelow logga och rubrik --->
<div class="all">
<div class="heading">
<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
  <a href="#" class="navbar-brand">
      {% load static %}
      <img class="d-inline-block align-top" src="{% static 'FlowBelow.png' %}" height="35" />
  </a>
  <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler" aria-controls="navbarNav" aria-expanded="false" aria-label="Navigera menyn" >
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a href="" class="nav-link active">
                  Hem
              </a>
          </li>
          <li class="nav-item active">
              <a href="/about" class="nav-link">
                  Om sidan
              </a>
          </li>
          <li class="nav-item active ">
              <a href="/sensors" class="nav-link">
                  Sensorer
              </a>
          </li>
          <li class="nav-item active ">
              <a href="/admin" class="nav-link">
                  Logga in
              </a>
          </li>
      </ul>
  </div>
  </div>
  <div class="nothead">
    <!--- karta över utbredning--->
    <div id="utbredning"></div>

    <!---graf över vattennivån --->
    <div class="graf">
      <canvas id="Chart"></canvas>
    </div>
    <!--- Karta med sensorerna--->
    <div id="karta">
        <!--- Shitty way to move the dropdown menu down as the chart.js does not respect boundaries --->
        <p></p>
        <p></p>
        <p></p>
        <!--- Create a dropdown menu to select the sensor to look at. --->
        <select id=list onchange="updatePlot(); updateHeightTable(); loadImage(); ">
            {% for sensorData in sensor_objects %}
                <option value='{{ sensorData.id_tag }}'>{{sensorData.id_tag}} : {{ sensorData.placement }}</option>
            {% endfor %}
        </select>

        <!--- A basic function to get the current value in the dropdown menu --->
        <script>
            function getSelectedSensor(){
                var selectedValue = document.getElementById("list").value;
                return selectedValue
            }
            function getSelectedHeight(){
                var selectedHeight = document.getElementById("listHeight").value;
                return selectedHeight
            }

        </script>
    </div>

  </div>
  </div>

<!--- Script för den nedre kartan --->
<script type = "text/javascript">
    /* Function to create the initial height value table */
    function createHeightTable() {
        /* Get right div to append table */
        var myDiv = document.getElementById("karta");

        /* Create array of value to add to table */
        let sensorMasl = [];
        var sensorToLook = getSelectedSensor();

        {% for dataEntry in rasterObjects %}
            if ('{{dataEntry.id_tag}}' == sensorToLook) {
                sensorMasl.push(Number('{{dataEntry.masl}}'));
            }
        {% endfor %}

        /* Create and append select list */
        var selectList = document.createElement("select");
        selectList.setAttribute("id", "listHeight");

        selectList.addEventListener('change', loadImage);
        myDiv.appendChild(selectList);

        /* Create and append the options */
        for (var i = 0; i < sensorMasl.length; i++) {
            var option = document.createElement("option");
            option.setAttribute("value", sensorMasl[i]);
            option.text = sensorMasl[i]+' masl.';
            selectList.appendChild(option);
        }
    }

    /* Function to update the height value table when a different sensor
     * is chosen in the sensor table
     */
    function updateHeightTable() {
        /* Get right div to append table */
        var myDiv = document.getElementById("karta");

        /* Create array of value to add to table */
        let sensorMasl = [];
        var sensorToLook = getSelectedSensor();

        {% for dataEntry in rasterObjects %}
            if ('{{dataEntry.id_tag}}' == sensorToLook) {
                sensorMasl.push(Number('{{dataEntry.masl}}'));
            }
        {% endfor %}

        /* Create and append select list */
        var selectList = document.getElementById("listHeight");

        /* Drop all current values from the list */
        var i, L = selectList.options.length - 1;
        for(i = L; i >= 0; i--) {
            selectList.remove(i);
        }

        /* Create the new heights and append to list */
        for (var i = 0; i < sensorMasl.length; i++) {
            var option = document.createElement("option");
            option.setAttribute("value", sensorMasl[i]);
            option.text = sensorMasl[i]+' masl.';
            selectList.appendChild(option);
        }
    }
    /* Make the initial table */
    createHeightTable()

    /* Functions used for map making --------------------------------------- */

    /* Funciton to create base map */
    function makeMap(){
        map = L.map("utbredning").setView([63.834219,20.315930], 13);
        makemap(map)
    }

    /* Function to update map after the sensor in dropdown is changed */
    function loadImage() {
        /* Get the chosen value in the dropdown menu */
        var sensorToLook = getSelectedSensor();
        var simlationHeight = getSelectedHeight();

        /* Set path to image of simulation */
        var imgPath = 'static/Simulations/'+sensorToLook+'_waterlevel_'+simlationHeight+'.PNG'

        /* Set the image bounds of the added image */
        var cornerUL = L.latLng(63.840277,20.290099)
        var cornerLR = L.latLng(63.816073,20.336459)
        var imageBounds = L.latLngBounds(cornerUL, cornerLR);

        /* remove image layer if it already exists.
         * Then add a new simulation based on the value
         * in the sensor dropdown menu
         */
        if (map.hasLayer(image)) {
            map.removeLayer(image);
            console.log('Removed image and added new')
            imageNew = L.imageOverlay(imgPath, imageBounds).addTo(map);
        }
        else {
            imageNew = L.imageOverlay(imgPath, imageBounds).addTo(map);
            console.log('Added imageNew')

        }
        /* Update the image variable to contain the newest simulation on map */
        image = imageNew;
    }

    /* Functions to update the timeseries data ----------------------------- */

    /* Function to create plot */
    function plotData() {

        let graph_data = [];
        let graph_times = [];
        var sensorToLook = getSelectedSensor();
        {% for dataEntry in timeData %}
        if ('{{dataEntry.id_tag}}' == sensorToLook) {
            graph_data.push(Number('{{dataEntry.masl}}'));
            graph_times.push('{{dataEntry.time}}');
        }
        {% endfor %}

        const ctx = document.getElementById('Chart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: graph_times,
                datasets: [{
                    label: 'Data for sensor ' + sensorToLook,
                    data: graph_data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'

                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)'

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                elements: {
                    point: {
                        radius: 0
                    }
                }
            }
        });
        return myChart
    }

    /* Function to update plot given a change in sensor dropdown */
    function updatePlot(){
        let graph_data = [];
        let graph_times = [];
        var sensorToLook = getSelectedSensor();
        {% for dataEntry in timeData %}
            if ('{{dataEntry.id_tag}}' == sensorToLook) {
                graph_data.push(Number('{{dataEntry.masl}}'));
                graph_times.push('{{dataEntry.time}}');
            }
        {% endfor %}
        myChart.data.datasets[0].data = graph_data;
        myChart.data.datasets[0].label = 'Data for sensor ' + sensorToLook;
        myChart.data.labels = graph_times;
        myChart.update();
        console.log('Updated the plot')
    }

    /* Create the initial plot */
    myChart = plotData()

    /* Making the initial map ---------------------------------------------- */

    /* Code to use proj4leaflet plugin.
     * Have not gotten it to work at all.
     */

    /*var crs = new L.Proj.CRS('EPSG:3006','+proj=utm +zone=33 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs',
    {
        resolutions: [
            8192, 4096, 2048, 1024, 512, 256, 128
        ],
        origin: [0, 0]
    })
var utbredning = new L.Map('map', {
        crs: crs
    });
*/

    /* Define global variables */
    var map;
    var image;

    /* Run function to make map */
    makeMap();

    /* Simulations are added when a value is selected
     * in the dropdown menu on the page. It is also
     * updated when a different height is chosen in the
     * height table.
     */

  </script>

</body>
</html>
