<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBT - Flowbelow AB</title>
    <h1>DBT - Flowbelow AB</h1>
    <p>This is a demo app to show how an application of our work to display current water levels at installed locations.</p>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"></script>
</head>
<body>
<!---------------------------------------------->

    <div id="container" style="width: 75%;">
        <canvas id="myChart"></canvas>
    </div>
    <!---<canvas id="myChart" width="100px" height="40px"></canvas>-->
    <script>
    let data = [];
    let times = [];
      {% for dataEntry in timeData %}
        data.push(Number('{{dataEntry.masl}}'));
        times.push('{{dataEntry.time}}');
      {% endfor %}

      const ctx = document.getElementById('myChart').getContext('2d');
      const myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: times,
              datasets: [{
                  label: 'Sensor data',
                  data: data,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)'

                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)'

                  ],
                  borderWidth: 1
              }]
          },
          options: {
            elements: {
                point: {
                    radius: 0
                }
            }
          }
      });

    function filterData(){
      const time2 = [...times];
      console.log(time2[0]);

    }
    </script>


<!-------------------------------------------------->
</body>
</html>