h1{
  font-size: 3vW;
}

.all{
  width: 100%;
  height: 100vh;
}

.heading{
  width: 100%;
  height: 8vh;
}

.logga{
  width:20%;
  /*background-color: red;*/
  float: left;
  margin-right: 5%;

}
.rubrik{
  /*background-color: green;*/
  width: 60%;
}

 #graf{
 }
.graf{
  width: 40%;
  height: 92vh;
  float:right;
  z-index: 1;
}

.nothead{
  width: 100%;
  height: 92vh;
}
#utbredning{
  width: 100%;
  height: 92vh;
  float:left;
  z-index: 0;
}
