{% extends 'admin/base.html' %}

{% block content %}
    <div>
        <h1>Import water simulations via CSV file</h1>
        <p>The CSV file should be delimited with ";" and have the following form:</p>
        <p>Sensor ID ; elevation of simulation ; Coordinate system ; path to raster data</p>
        <p>Note that the first row is skipped due to column names.</p>
        <p>Also note that all relevant files needs to first be placed in the correct folder on the server.</p>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Upload File</button>
        </form>
    </div>
{% endblock %}